.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBox {
  /* background-color: rgba(140, 0, 0, 255); */
  position: absolute;
  background-color: rgb(191, 16, 16);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 5;
}

.headerBox {
  height: 90px;
}

.pages {
  display: flex;
  width: 100%;
  /* padding-left: 10%; */
  justify-content: center;
}
/* 
.slideBox {
  background-color: black;
} */

.footLinks {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 4px;
  max-width: 147px;
}

.footBox {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  color: rgb(0, 0, 0);
  padding-left: 20%;
  padding-top: 3%;
  flex-direction: row;
  text-align: left;
}

.footLinksBox {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}

.blackBar {
  background-color: black;
  display: inline-block;
  height: 2px;
  width: 100%;
  /* left: 60%; */
  /* padding-bottom: 10px; */
  /* padding-left: 40%; */
}

.footer {
  background-color: rgba(255, 255, 255, 0.747);
  height: 260px;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
}

.footer h4 {
  padding-bottom: 30px;
  margin: 0;
  text-align: left;
  padding-left: 30px;
}

.footReq {
  padding-top: 5%;
}
