.servicesList {
  text-align: left;
  list-style: none;
}

.duoImageBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.duoImage {
  width: 300px;
  height: 400px;
  object-fit: cover;
  /* padding: 2% 0 2% 0; */
}
.BServiceBox {
  width: 80vw;
  text-align: left;
}
