/* .companyHeading {
} */

.companyFront {
  position: relative;
  /* text-align: center; */
  /* background-color: rgba(0, 0, 0, 0.259); */
  filter: grayscale(80%);
  width: 90vw;
  height: 70vh;
  object-fit: cover;
  object-position: 50% 42%;
}

.companyPage {
  display: flex;
  width: 80vw;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  /* pointer-events: none; */
}

.companyFrontBox {
  /* background-color: black; */
  width: 90vw;
  height: 70vh;
  overflow: none;
}

.textOverlay {
  font-size: 30px;
  margin: auto;
  text-transform: uppercase;
}

.companyFacts {
  text-align: left;
  list-style: none;
}

.companyDesc {
  text-align: left;
  margin-top: 2%;
}

.trioImageBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3% 0 3% 0;
  /* margin-top: 2%;
  margin-bottom: 2%; */
}
.trioImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  /* padding: 2% 0 2% 0; */
}

.two {
  object-fit: cover;
}

li {
  line-height: 40px;
}

@media screen and (max-width: 800px) {
  .companyFront {
    position: relative;
    filter: grayscale(80%);
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    object-position: center;
  }

  .companyPage {
    display: flex;
    width: 90vw;
    max-width: 800px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    z-index: 0;
  }

  .companyFrontBox {
    width: 100%;
    max-height: 50vh;
    overflow: hidden;
    margin-top: 10%;
  }

  .textOverlay {
    font-size: 24px;
    margin: auto;
    text-transform: uppercase;
  }

  .companyFacts {
    text-align: left;
    list-style: none;
    padding-left: 20px;
  }

  .companyDesc {
    text-align: left;
    margin-top: 2%;
    padding: 0 20px;
  }

  .trioImageBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3% 0;
  }

  .trioImage {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    margin: 10px auto;
  }

  li {
    line-height: 30px;
  }
}
