.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messText {
  min-height: 200px;
}

.messInfo {
  display: grid;
  width: 100%;
}

.commInfo {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-around;
}
.commChild {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

label {
  padding: 2%;
  font-style: bold;
}

.emailButton {
  padding: 2%;
}

.contactPage {
  display: flex;
  width: 80vw;
  justify-content: space-around;
  margin: 4% 0 4% 0;
}

.contactText {
  max-width: 400px;
  text-align: left;
}

.contactText h1 {
  text-align: center;
}
