.logoBox {
  text-decoration: none;
  height: 100px;
}

.header {
  /* position; */
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
  height: max-content;
  height: 50px;
}

.logo {
  display: relative;
  max-height: 50px;
  /* transform: scale(4); */
  overflow: hidden;
}
