.logoBox {
  text-decoration: none;
  height: 100px;
}

.header {
  /* position; */
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
  height: max-content;
  height: 50px;
}

.logo {
  display: relative;
  max-height: 50px;
  /* transform: scale(4); */
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .logo {
    width: 60%;
  }

  .header {
    display: flex;
    padding-top: 5%;
    height: max-content;
    height: 50px;
    flex-direction: row;
    align-items: flex-start;
  }
}
