.logoBox {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
}

.quoteButtBox {
  background-color: rgb(10, 16, 109);
  padding: 10px;
}

.quoteButt {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
