.homePic {
  max-width: 500px;
  max-height: 332px;
}

.homePage {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.grindingExamples {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.blanchardExample {
  padding-right: 15px;
}

.surfaceExample {
  padding-left: 15px;
}
