.homePic {
  display: flex;
  width: 100%;
  height: 100%;
  /* pointer-events: none; */
  /* border-radius: 15px; */
  /* padding: 20px; */
}

/* .slideBox {
  margin-bottom: 8%;
} */

.homePage {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.grindingExamples {
  z-index: -2;
  display: inline-flex;
  flex-direction: row;
  /* height: 900px; */
  width: 100%;
  /* padding-top: 1%; */
  background-color: rgb(255, 255, 255);
  justify-content: center;
}

.grindingExample {
  pointer-events: none;
  /* padding-right: 15px; */
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: 100%;
  /* border-radius: 40px; */
  /* padding: 40px; */
}

.topEx {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  /* padding-bottom: 80px; */
}
.topEx {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  /* padding-bottom: 80px; */
}

.examplesDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100%; */

  margin-top: 20%;
}

.overlay {
  position: absolute;
  display: flex;
  text-align: left;
  width: 100%;
  justify-content: space-around;
  /* height: examplesDiv; */
  align-items: center;
  pointer-events: all;
  z-index: 1;
  transition-property: hover;
  transition: all 10s ease;
  transition-duration: 4s;
}

.hidden {
  pointer-events: all;
  display: none;
  width: 500px;
  z-index: 2;
  color: white;
  transition: 4s;
  transition-duration: 4s;
  font-size: 20px;
}

.examplesDiv:hover .hidden {
  transition: 4s;
  display: flex;
}

.examplesDiv:hover {
  transition-duration: 4s;
  display: flex;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 0.6009995062478116) 0%,
    rgb(0, 0, 0) 100%
  );
}
/* .topEx .hidden {
  display: lex;
  flex-direction: row;
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.313);
  color: black;
} */

/* .topEx:hover .hidden {
  display: flex;
 
} */

/* .bottEx .hidden {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.313);
  color: black;
} */

/* .bottEx .hidden:hover {
  display: flex;
  
} */

.slideImage {
  width: 99vw;
  height: 550px;
  pointer-events: none;
}

/* .panel button { */
/* border: 0; */
/* background: none; */
/* } */

.Slides button {
  border-width: 0 7px 7px 0;
  /* background: none; */
  /* border: 0; */
  height: 40px;
  width: 40px;
  /* border: 2px; */
  border-color: rgb(255, 255, 255);
  /* display: flex; */
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.335);
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}
.Slides button:hover {
  height: 42px;
  width: 42px;
  /* background-color: black; */
  pointer-events: all;
}
/* 
.slideBox button {
  display: flex;
  align-items: center;
} */

/* .arrowButtons { */
/* position: absolute;
  display: flex;
  justify-content: space-between;
  width: 95vw;
  padding-left: 1.5%;
  pointer-events: none;
  /* height: 80%; */
/* align-items: center; */
/* margin-bottom: 4%; */
/* background-color: rgba(240, 248, 255, 0);  */
/* } */
.leftArrow {
  transform: rotate(135deg);
}

.rightArrow {
  transform: rotate(-45deg);
}

.slideChild {
  height: 550px;
}

/* .centerButton {
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  height: 30px;
  width: 30px;
  border: 20px;
} */

@keyframes topBarMovement {
  0% {
    left: -50%;
  }
  100% {
    right: 150%;
  }
}

.topBar {
  width: 100%;
  height: 30px;
  /* background-color: rgba(62, 84, 106, 255); */
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  font-weight: 650;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 5;
  /* margin-top: 5%; */
}

.topBar p {
  /* position: absolute; */
  /* animation-name: topBarMovement;
  animation-duration: 10s;
  animation-iteration-count: infinite; */
  pointer-events: none;
  color: white;
  order: inherit;
}

.detailsBox {
  display: flex;
  justify-content: center;
  height: 350px;
  padding-top: 3%;
  padding-bottom: 10%;
  max-width: 100%;
  position: relative;
  margin-bottom: 30%;
  /* padding-left: 15%; */
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
}
.details {
  padding-right: 8%;
  display: flex;
  padding-left: 8%;
  max-width: 550px;
  flex-direction: row;
  margin: 0;
  align-items: center;
}

.icons {
  width: 120px;
  height: auto;
  padding-bottom: 4%;
}
.iconDescription {
  text-align: left;
  /* text-align: center; */
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10%;
  padding-left: 10%;
}

.homeInfo {
  background-color: white;
  z-index: 6;
  height: 5%;
}

.servicesTitle {
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  margin: 0;
  color: white;
}

.grindingExample li {
  width: 600px;
  text-align: left;
}

/* .subheading {
  list-style-type: no-bullet;
} */

.redFont {
  color: red;
  text-transform: uppercase;
}
