.quoteButtBox {
  background-color: rgb(183, 38, 9);
  padding: 10px;
  max-height: 40px;
}

.quoteButt {
  text-decoration: none;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  font-weight: 650;
}
