.servicesList {
  text-align: left;
  list-style: none;
}

.duoImageBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.duoImage {
  width: 300px;
  height: 400px;
  object-fit: cover;
  /* padding: 2% 0 2% 0; */
}
.SGServiceBox {
  /* width: 80vw; */
  width: 1200px;
  text-align: left;
}

@media screen and (max-width: 800px) {
  .duoImageBox {
    flex-direction: row;
    width: 28%;
  }

  .duoImage {
    max-width: 100%;
    height: auto;
  }

  .SGServiceBox {
    padding: 10px;
  }
}
